::-webkit-scrollbar {
    display: none;
}
section {
  height: 860px;
  overflow: scroll;
  box-shadow: 1px 1px 11px 12px #00000014;
  border-radius: 13px;
  .deploma {
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    border-bottom: 1px solid #EEE;
    img {
      margin-right: 20px;
      box-shadow: 1px 1px 11px 12px #00000014;
    border-radius: 6px;
    }
    .deploma-data {
      flex-grow: 1;
      ul li  {
        margin: 0 14px;
      }
    }
  }
}

button {
  background: #007bff;
  color: #FFF;
}

@media  (max-width: 425px){ 
  img {
    display: none;
  }
}