aside {
    padding: 20px;
    box-shadow: 1px 1px 11px 12px #00000014;
    border-radius: 13px;
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .example-radio-button {
    margin: 5px;
  }
  label {
      display: block;
  }
  form > * {
      width: 100%;
  }
  button {
    background: #007bff;
    color: #FFF;
  }
}

@media(max-width:768px){
  aside{ 
    margin-bottom: 50px;
    h4 {
      font-size: 14px;
    }
  }
}
